---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Headline from '~/components/blog/Headline.astro';

const meta = {
  title: 'Eroica',
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="bg-image-light">
    <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
      <Headline subtitle="More info and detailed description yet to add!">
        Eroi<span class="text-yellow-400">c</span>a
      </Headline>
      <iframe
        src="https://www.komoot.com/it-it/collection/1331341/embed"
        width="100%"
        height="580"
        frameborder="0"
        scrolling="no"></iframe>
    </section>
  </div>
</Layout>
