---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import Headline from '~/components/blog/Headline.astro';

const meta = {
  title: 'Kirghizistan',
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="bg-image-light">
    <section class="px-6 sm:px-6 py-12 sm:py-16 lg:py-20 mx-auto max-w-4xl">
      <Headline subtitle="">
        Tian Shan <span class="text-yellow-400">Traverse</span>
      </Headline>
    </section>
  </div>
</Layout>
