---
export interface Props {
  playlistId?: string;
}

const { playlistId } = Astro.props;
---

<section>
  {
    playlistId && (
      <iframe
        class="absolute w-full h-full object-cover"
        src={`https://www.dailymotion.com/embed/playlist/${playlistId}?autoplay=1&loop=1&controls=0&scaleMode=fill`}
        allow="autoplay; fullscreen; picture-in-picture"
        allowfullscreen
      />
    )
  }
</section>
