---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import ContactForm from '~/components/widgets/ContactForm.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Features from '~/components/widgets/Features.astro';

const meta = {
  title: 'Contact Us',
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <section class="scroll-mt-16" id="support">
    <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20">
      <div class="mb-10 md:mx-auto text-center md:mb-12 max-w-3xl">
        <h2 class="text-4xl md:text-5xl font-bold leading-tighter mb-4 font-heading" set:html={'Contact Us'} />
      </div>
      <ContactForm title="Get in touch" buttonText="Write us!" />
    </div>
  </section>
</Layout>
