---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta} playlistId="x7t41a">
  <!-- Hero Widget ******************* -->
  <!-- 
    Import image from src/assets: import('~/assets/images/hero.png')
    Import image from public: '/hero.png'
   -->

  <!-- "we are patatrack" -->
  <Hero />

  <!-- Content Widget **************** -->
  <Content
    image={{
      src: 'https://res.cloudinary.com/dsqo5zfck/image/upload/v1682935843/patatrack/about/yesweride_gnluvn.png',
      alt: 'yes we ride',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Yes we Ride</h3>
      And we do it pretty badly: we're not athletes, we're always out of shape, sometimes we're clumsy and also a bit savage,
      but we do it with all our heart.
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    isAfterContent
    image={{
      src: 'https://res.cloudinary.com/dsqo5zfck/image/upload/v1682946266/patatrack/about/spreadOurPassion_gqhcz9.png',
      alt: 'spread our passion',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        We're here to spread our passion.
      </h3>
      Since some years we spend our free time in the saddle, bringing with us whatever it takes to eat and sleep and discover
      new places.
    </Fragment>
  </Content>

  <CallToAction
    callToAction={{
      text: 'Contact Us',
      href: '/contact',
      icon: 'tabler:message-circle',
    }}
  >
    <Fragment slot="title">Wanna talk with us?</Fragment>
    <Fragment slot="subtitle">Feel free to write us a line!</Fragment>
  </CallToAction>

  <LatestPosts
    title="Journal"
    information={`Here we will add all our latest adventures, we hope you will enjoy them!`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  />
</Layout>
