---
import { Picture } from '@astrojs/image/components';
---

<span
  class:list={[
    'flex justify-between items-center self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 dark:text-white whitespace-nowrap',
  ]}
>
  <div class="logo-light dark:logo-dark w-[10rem] h-[1rem]"></div></span
>
