---
import Layout from '~/layouts/BaseLayout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
// import Announcement from '~/components/widgets/Announcement.astro';
import BackgroundVideo from '~/components/widgets/BackgroundVideo.astro';

import { headerData, footerData } from '~/data';

import { MetaSEO } from '~/types';

export interface Props {
  meta?: MetaSEO;
  playlistId?: string;
  isHomePage?: boolean;
}

const { meta, playlistId, isHomePage } = Astro.props;
---

<Layout {meta}>
  <slot name="announcement">
    <!-- <Announcement /> -->
  </slot>
  {
    playlistId && (
      <slot name="preHeader">
        <BackgroundVideo playlistId={playlistId} />
      </slot>
    )
  }
  <slot name="header">
    <Header {...headerData} isSticky showRssFeed showToggleTheme />
    <div class={`${playlistId ? 'min-h-[90vh]' : ''}`}></div>
    <slot />
  </slot>
  <slot name="footer">
    <Footer {...footerData} />
  </slot>
</Layout>
